.component-container {
  display: flex;
  position: relative;
}
.component-image {
  width: 290px;
  height: 291px;
  position: relative;
  align-self: center;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
}
